.markdown {
  @apply text-base leading-relaxed;
}

.markdown p {
  @apply my-5
}

.markdown h1 {
  @apply text-4xl font-semibold mt-12 mb-6 leading-tight;
}

.markdown h2 {
  @apply text-3xl font-semibold mt-10 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-3 leading-snug;
}

/* List */
.markdown ul,
.markdown ol {
  @apply my-5 pl-6
}

.markdown ul {
  @apply list-disc
}

.markdown ol {
  @apply list-decimal
}

.markdown li {
  @apply my-1
}

/* Blockquote */
.markdown blockquote {
  @apply my-6 pl-4 border-l-2 border-gray-300 text-gray-700;
}

/* Links */
.markdown a {
  @apply underline underline-offset-4 hover:text-gray-600;
}

/* Code */
.markdown code {
  @apply px-1 rounded bg-gray-200 text-sm font-mono;
}

/* pre */
.markdown pre {
  @apply my-6 p-4 overflow-x-auto bg-gray-200 rounded;
}

.markdown pre code {
  @apply bg-transparent p-0;
}

/* Images */
.markdown img {
  @apply my-6 max-w-full
}

/* Horizontal rule */
.markdown hr {
  @apply my-10 border-t border-gray-300
}
